body {
    font-family: 'Source Sans Pro', sans-serif;
}

.header {
    display:flex;
    justify-content: space-between;
    width: 95%;
    margin:auto;
}

a {
    font-size: 30px;
    color: #893F3D
}

a:hover {
    color: #a06563
}

.general {
    width: 50%;
    margin-left: 2.5%;
}

h3{
    text-decoration: underline;
    margin-bottom: 0;
}

h4, ul{
    margin-top:10px;
}
.features {
    width:95%;
    margin: auto;
}
.sections {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}

.section {
    padding: 0 20px;
}

h4{
    font-size: 1.1em;
}