.header {
    display: flex;
    justify-content: space-between;
    margin: 1.5em 0 1em 2.5%;
    font-family: 'Source Sans Pro', sans-serif;
}

.header a {
    margin-right: 2em;
}

.header img {
    height: 65px;
}

.logout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
    display:flex;
    flex-direction: row;
}

.header a{
    color: #893F3D;
}

.trips {
    display: flex;
    flex-direction: column;
}

#lottery a{
    font-size: 1.15em;
}

.trips a:hover {
    cursor: pointer;
}

#details a {
    font-weight: 400;
    font-size: 1.35em;
}

.info {
    font-size: 1.1em;
    margin-top: 0.5em;
}

.info a {
    font-weight: 300;
    color: black;
}

.body {
    display: grid;
    grid-template-columns: repeat(3, 20em);
    grid-column-gap: 7.5em;
    grid-row-gap: 2vh;
    width: 90%;
    margin: auto;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

#details {
    padding: 0.5em 0.5em;
}

#lottery {
    margin: 0.75em 0;
    padding: 0.75em 1em;
    background-color: #F5E7D7;
}

.row img {
    width: 20em;
    height: 14.5em;
    object-fit: cover;
}