<!doctype HTML>
<html lang="en">

<head>
    <!-- Stuff not to worry about, for setup -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap imports -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="individual-trip.css">

    <!-- Fonts -->
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

</head>

<body>
    <header>
        <nav class = "navbar navbar-expand-lg navbar-dark fixed-top" id = "main-nav">
            <button class = "navbar-toggler" type = "button" data-toggle = "collapse" data-target = "#navbarResponsive" aria-expanded = "false" aria-label = "Toggle navigation">
     <span class = "navbar-toggler-icon"></span>
     </button>
          <a class = "navbar-brand js-scroll-trigger" href = "#">Brown Outing Club</a>
     <div class = "collapse navbar-collapse" id = "navbarResponsive">
         <ul class = "navbar-nav ml-auto">
         <li class = "nav-item">
             <a class = "nav-link js-scroll-trigger" href = "#">Upcoming Trips</a>
             </li>
             <li class = "nav-item">
             <a class = "nav-link js-scroll-trigger" href = "#">Past Trips</a>
             </li>
             {% if is_admin %} 
                 <li class="nav-item">
                     <a class="nav-link js-scroll-trigger" href="/admin" id="admin">Admin</a>
                 </li>
             {% endif %}
         </ul>
     </div>
</nav>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <br><br> <br><br> <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12 col-12">
                <div class="card">
                    <div class="card-header">
                        <div id="trip-images" class="carousel slide" data-interval="3500" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#trip-images" data-slide-to="0" class="active carousel-indicator"></li>
                                <li data-target="#trip-images" data-slide-to="1" class="carousel-indicator"></li>
                                <li data-target="#trip-images" data-slide-to="2" class="carousel-indicator"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block carousel-image" src="backpacking.jpg" alt="i'm alt text">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5 class="slide-subhead">Backpacking in the Poconos</h5>
                                        <p class="slide-text">This was probably a cool trip the boc that I don't know
                                            about.</p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block carousel-image" src="canoes.jpg" alt="yo alt text">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5 class="slide-subhead">Canoeing honestly idk where</h5>
                                        <p class="slide-text">Swag we are canoeing haha</p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block carousel-image" src="mountain.jpg" alt="alt text2 lmao">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5 class="slide-subhead">Yo dude from BOC on the mountain</h5>
                                        <p class="slide-text">pls don't fall</p>
                                    </div>
                                </div>
                                <a class="carousel-control-prev carousel-button" href="#trip-images" role="button"
                                    data-slide="prev">
                                    <span class="carousel-control-prev-icon carousel-control" aria-hidden="true"></span>
                                    <span class="sr-only">previous</span>
                                </a>
                                <a class="carousel-control-next" href="#trip-images" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon carousel-control" aria-hidden="true"></span>
                                    <span class="sr-only">next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <h1 id="trip-title">BOC Trip Doe</h1>
                            <table class="trip-table">
                                <tr>
                                    <td class="trip-details">

                                        <h6 class="same-line content-label">WHERE</h6>
                                        <h6 class="same-line content">Warwick, RI</h6>
                                    </td>
                                    <td class="trip-details">

                                        <h6 class="same-line content-label">WHEN</h6>
                                        <h6 class="same-line content">May 15, 8pm-11pm</h6>
                                    </td>
                                    <td class="trip-details">
                                        <h6 class="same-line content-label">CONTACT</h6>
                                        <h6 class="same-line content">
                                            <a class="contact-info"
                                                href="mailto:kshitij_sachan@brown.edu?subject:Sunday Night Climb">kshitij_sachan@brown.edu</a>
                                        </h6>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="trip-lottery">
                                        <h6 class="content-label same-line">
                                            LOTTERY CLOSES
                                        </h6>
                                        <h6 class="content same-line">May 4, 11:59pm</h6>
                                    </td>
                                    <td class="trip-lottery">

                                        <h6 class="content-label same-line">PRICE</h6>
                                        <h6 class="content same-line">$50</h6>
                                    </td>
                                </tr>
                            </table>
                        </li>
                        <li class="list-group-item">
                            <p id = "trip-description">
                                Pizza ipsum dolor amet hawaiian meatball chicken wing party. Ham spinach garlic sauce
                                burnt mouth thin crust bbq sauce. Meatball banana peppers bbq rib NY style chicken and
                                bacon. Ranch marinara chicken and bacon deep crust white pizza, melted cheese green bell
                                peppers chicken banana peppers thin crust buffalo sauce red onions.
                                <br><br>
                                Chicken wing buffalo sauce Chicago style, large banana peppers melted cheese meat lovers
                                philly chicken bbq sauce. Sausage parmesan garlic sauce thin crust garlic parmesan mayo
                                hawaiian ranch bacon & tomato philly chicken green bell peppers ricotta peppers large
                                mozzarella. Ranch mozzarella thin crust lasagna banana peppers garlic sauce sausage
                                bacon & tomato garlic large. Bbq sauce meatball mozzarella extra sauce meat lovers pizza
                                thin crust. Chicago style ranch spinach, pepperoni string cheese hand tossed stuffed
                                crust chicken and bacon party garlic parmesan garlic.
                            </p>
                        </li>
                        <li class="list-group-item">
                            <h5 id = "lottery-info">10 SPOTS AVAILABLE / 13 IN LOTTERY</h2>
                                <button type="button" class="btn btn-primary btn-lg lottery-button">Enter lottery</button>
                                <button type="button" class="btn btn-secondary btn-lg lottery-button">Remove from lottery</button>
                        </li>
                    </ul>        
                </div>
                <br><br>
            </div>
        </div>
    </div>
    <footer></footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

</body>