{% extends "layouts/base.html" %}
{% block content %}
    <h1>BOC Trip Portal</h1>
    <p>
        The BOC trip portal was made to support fully random trip lotteries for the Brown Outing Club. If you have any
        issues with the system, please reach out to <a href="mailto:fullstack@brown.edu">Full Stack at Brown</a>.
    </p>
    <h2>Signing up</h2>
    <p>
        To sign up for the portal, simply try to log in using a your Brown email address. The preferred method of
        authentication is Google login, so upon being redirected for authentication, we prefer that you select "Continue
        with Google."
    </p>
    <h2>Accepting your spot</h2>
    <p>
        If you are selected for a spot in the trip, you will be contacted via email and you will have the ability to
        confirm or decline your attendance. If someone declines their spot, another user will automatically be given the
        newly opened spot.
    </p>
{% endblock %}