{% extends "layouts/base.html" %}
{% block content %}
    <h1>{{ trip.name }}</h1>
    <p>
    <div style="display: flex; align-items: center">
        <span class="text-muted">
            Signups close on {{ trip['signup_deadline'].strftime('%b %d, %Y') }}
        </span>
        <i data-toggle="tooltip"
           data-placement="right"
           title="All lotteries close at 11:59 pm ET."
           class="bi bi-info-square content-label first-column same-line text-muted" style="margin-left: 6px"></i>
    </div>
    </p>
    <div style="display: flex; align-items: center">
        <i style="margin-right: 10px" class="bi bi-geo-alt"></i>
        {{ trip.destination }}
    </div>
    <p>
    <div style="display: flex; align-items: center">
        <i style="margin-right: 10px" class="bi bi-tags"></i>
        <span>
            {% if trip['price'] is not none or trip['price']==0 %}
                ${{ trip['price'] }}
            {% else %}
                FREE
            {% endif %}
        </span>
        <i class="bi bi-info-square" style="margin-left: 6px"
           data-toggle="tooltip"
           data-placement="right"
           title="The BOC offers financial aid on all trips, no questions asked!"
           class="content-label same-line"></i>
    </div>
    </p>
    <ul class="list-group list-group-horizontal-sm mb-3">
        <li class="list-group-item">
            <h6 class="content-label">Departs From</h6>
            {{ trip.departure_location }}
        </li>
        <li class="list-group-item">
            <h6 class="content-label">Departs On</h6>
            {{ trip['departure_date'].strftime('%b %d, %Y') }}
            {% if trip['departure_time'] is not none %} :
                {{ trip['departure_time'].strftime("%_I:%M %p") }} {% endif %}
        </li>
        <li class="list-group-item">
            <h6 class="content">
                Returns On
            </h6>
            {% if trip['return_date'] is not none %}
                {{ trip['return_date'].strftime('%b %d, %Y') }}
            {% endif %}
            {% if trip['return_time'] is not none %} @
                {{ trip['return_time'].strftime("%_I:%M %p") }} {% endif %}
        </li>
    </ul>
    <p>
        Leaders: {{ trip['boc_leaders'] }}
    </p>
    <p>
        Contact: <a href="mailto:{{ trip['contact'] }}subject:{{ trip.name }}">{{ trip['contact'] }}</a>
    </p>
    <p>
        Current lottery entries: {{ registrations|length }} | Total spots in trip:
        {% if trip['car_cap'] is not none %}
            {{ trip.car_cap + trip.non_car_cap }}
        {% else %}
            {{ trip.non_car_cap }}
        {% endif %}
    </p>
    <p>{{ trip['description'] }}</p>
    {% if signed_up %}
        <form action="{{ url_for('trips.lottery_withdraw', id=trip['id']) }}" method="post" class="border-top"
              onsubmit="return confirm('Are you sure you want to leave the lottery?');">
            <button type="submit" class="btn btn-secondary btn-lg lottery-button">
                Remove from lottery
            </button>
        </form>
    {% else %}
        <form action="{{ url_for('trips.lottery_signup', id=trip['id']) }}" method="POST" class="border-top"
              onsubmit="return confirm('Are you sure you want to enter the lottery?');">
            <p>
                <input type="checkbox" id="car" name="car" value="True"/>
                <label class="mt-3" for="car">
                    Can you can bring a car?
                </label>
                <i style="margin-left: 6px" data-toggle="tooltip" data-placement="right"
                   title="We run separate lotteries, one for those with cars and one for those without cars.
                   We need a certain number of people with cars to drive the group there!"
                   class="bi bi-info-square"></i>
            </p>
            <p>
                <input type="checkbox" id="financial_aid" name="financial_aid" value="True"/>
                <label for="financial_aid">
                    Do you need financial aid?
                </label>
                <i data-toggle="tooltip" data-placement="right"
                   title="The BOC offers financial aid on all trips, no questions asked!" style="margin-left: 6px"
                   class="bi bi-info-square same-line"></i>
            </p>
            <button type="submit"
                    class="btn btn-primary">
               Enter Lottery
            </button>
        </form>
    {% endif %}
    <footer></footer>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}
