<!DOCTYPE html>

<head>
    <link rel ="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600&display=swap" rel="stylesheet">
</head>

<body id="page">
    <div class = "header">
        <div class = "logout">
            <img src = "static/img/bocLogoNegative.png">
        </div>
        <div class = "nav">
            <h1><a href="/dashboard" id="upcoming">Upcoming Trips</a></h1>
            <h1><a href="/pasttrips" id ="past">Past Trips</a></h1>
            {% if is_admin %}
                <h1><a href="/admin" id ="admin">Admin View</a></h1>
            {% endif %} 
            <h1><a class="btn btn-primary btn-lg btn-logout btn-block" href="/logout">Logout</a></h1>
        </div>
    </div>
    <div class = "body">
    {% for trip in upcoming_trips %}
        <div class = "trips">
            <div class = "row">
                <img src = "{{ trip['image'] }}">
            </div>
            <div class = "info">
                <div class = "row" id ="details">
                    <a href= "{{ url_for('individual_trip', id=trip['id']) }}" class="hover">{{ trip['name'] }}</a>
                    <div>
                        {{ trip['destination'] }} &sdot; ${{ trip['price'] }}
                        <br>
                        {{ trip['departure_date'].strftime('%m/%d/%Y') }} 
                        {% if trip['return_date'] is not none %}
                            - {{ trip['return_date'].strftime('%m/%d/%Y') }} 
                        {% endif %}
                        <br>
                        Meet at {{ trip['departure_location'] }}, {{ trip['departure_time'].strftime("%I:%M %p") }}
                        <br>
                        {% if trip['return_time'] is not none %}
                            Return to campus at {{ trip['return_time'].strftime("%I:%M %p") }} 
                        {% endif %} 
                        <br>
                        Contact: {{ trip['contact'] }}
                    </div>
                </div>
                <div class = "row" id = "lottery">
                    {% if trip['noncar_cap'] == 0 %}
                        Unlimited spots
                    {% else %}
                        {{ trip['noncar_cap'] }} spots total - 
                        {% if taken_spots.get(trip['id']) is not none %}
                            {{ taken_spots[trip['id']] }} spots taken
                        {% else %}
                            0 spots taken
                        {% endif %} 
                    {% endif %} 
                    <br>
                    Lottery closes at {{ trip['signup_deadline'].strftime('%m/%d') }} @ 11:59 pm
                    <br>
                    {% if (trip['id'],) is in signed_up %}
                        <a>Signed up</a>
                    {% else %}
                        <a href = "{{ url_for('lotterysignup', id=trip['id']) }}" class="hover">
                            Enter Lottery
                        </a>
                    {% endif %} 
                </div>
            </div>

        </div>
    {% endfor %}
    </div>
</body>